<%= simple_form_for assistant, html: { class: "assistant" } do |f| %>
  
  <div class="form-stepper" data-controller="tabs">
    <!-- 1. Stepper Header (The Tabs) -->
    <div class="form-stepper__header">
      <div data-tabs-target="header" class="form-stepper__step" data-action="click->tabs#switch" data-step="1">
        <span class="form-stepper__step-number">1</span>
        <span class="form-stepper__step-label">Basic</span>
      </div>

      <div data-tabs-target="header" class="form-stepper__step" data-action="click->tabs#switch" data-step="2">
        <span class="form-stepper__step-number">2</span>
        <span class="form-stepper__step-label">Configuration</span>
      </div>

      <div data-tabs-target="header" class="form-stepper__step" data-action="click->tabs#switch" data-step="3">
        <span class="form-stepper__step-number">3</span>
        <span class="form-stepper__step-label">Archivos</span>
      </div>

      <div data-tabs-target="header" class="form-stepper__step" data-action="click->tabs#switch" data-step="4">
        <span class="form-stepper__step-number">4</span>
        <span class="form-stepper__step-label">Tools</span>
      </div>
    </div>

  <div class="form-stepper__content">
    <%= form_error_notification(assistant) %>

    <div data-tabs-target="body" class="form-stepper__content-pane form-stepper__content-pane--active" data-step-content="1">
      <h3>Step 1: Basic Details</h3>
      <p>Basic assistant details</p>

      <%= f.input :name, input_html: { autofocus: true } %>
      <%= f.input :assistant_id, input_html: { autofocus: true } %>
      <%= f.input :temperature, input_html: { autofocus: true } %>
      <%= f.input :top_p, input_html: { autofocus: true } %>
    </div>
 
    <div data-tabs-target="body" class="form-stepper__content-pane" data-step-content="2">
      <h3>Step 2: Technical Configuration</h3>
      <p>Specify technical details like roles or conditions.</p>

      <%= f.input :role, input_html: { autofocus: true } %>
      <%= f.input :task, input_html: { autofocus: true } %>
      <%= f.input :context, input_html: { autofocus: true } %>
      <%= f.input :reasoning, input_html: { autofocus: true } %>
      <%= f.input :outputs, input_html: { autofocus: true } %>
      <%= f.input :conditions, input_html: { autofocus: true } %>

      <%= f.input :scrapping_instructions, input_html: { autofocus: true } %>
    </div>

    <div data-tabs-target="body" class="form-stepper__content-pane" data-step-content="3">
      <h3>Step 3: Archivos</h3>
      <p>External files of AI knowledge.</p>

      <%= f.input :uploaded_files, as: :file, input_html: { multiple: true } %>
    </div>

    <div data-tabs-target="body" class="form-stepper__content-pane" data-step-content="4">
      <h3>Step 4: Confirm & Submit</h3>
      <p>Set up tools.</p>

      <% assistant.assistant_tools.each do |at| %>
        <div class="assistant-tool">
          <h4>Tool: <%= at.tool.name %></h4>
          <p>Description: <%= at.tool.description %></p>
        </div>
      <% end %>
    </div>

  <div class="form__actions form-stepper__navigation" >
    <button class="btn-back" data-action="tabs#previous" >Back</button>
    <%= f.submit class: "btn btn--secondary" %>
     <button class="btn-next"data-action="tabs#next">Next</button>
  </div>
<% end %>
