<%= simple_form_for assistant, html: { class: "assistant form" } do |f| %>
  <%= form_error_notification(assistant) %>

  <%= f.input :name, input_html: { autofocus: true } %>
  <%= f.input :assistant_id, input_html: { autofocus: true } %>
  <%= f.input :role, input_html: { autofocus: true } %>
  <%= f.input :task, input_html: { autofocus: true } %>
  <%= f.input :context, input_html: { autofocus: true } %>
  <%= f.input :reasoning, input_html: { autofocus: true } %>
  <%= f.input :outputs, input_html: { autofocus: true } %>
  <%= f.input :conditions, input_html: { autofocus: true } %>
  <%= f.input :temperature, input_html: { autofocus: true } %>
  <%= f.input :top_p, input_html: { autofocus: true } %>

  <%= f.input :scrapping_instructions, input_html: { autofocus: true } %>

  <div class="form__actions">
    <%= f.submit class: "btn btn--secondary" %>
  </div>
<% end %>
