
<div class="quote">
  <%= link_to lead.name, lead_path(lead) %>
  <%= lead.email %>
  <%= lead.phone %>

  <div class="quote__actions">
    <%= button_to "Delete",
                  lead_path(lead),
                  method: :delete,
                  class: "btn btn--light" %>

    <%= link_to "Edit",
                "#",
                class: "btn btn--light" %>
  </div>
</div>
