<header class="navbar">
  <% if user_signed_in? %>
    <div class="navbar__brand">
      <%= current_company.name %>
    </div>
    <div class="navbar__item">
      <%= link_to "Users", users_path %>
    </div>
    <div class="navbar__item">
      <%= link_to "Leads" %>
    </div>
    <div class="navbar__item">
      <%= link_to "Real Estate", real_estates_path %>
    </div>
    <div class="navbar__item">
      <%= link_to "Link Chat con #{current_company.assistant_name}", new_public_conversation_path(assistant_id: current_company.assistant_slug), target: '_blank' %>
    </div>
    <div class="navbar__name">
      <%= current_user.name %>
    </div>
    <%= button_to "Sign out",
                  destroy_user_session_path,
                  method: :delete,
                  class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in",
                new_user_session_path,
                class: "btn btn--dark navbar__right" %>
  <% end %>
</header>
